.stats-left, .stats-right {
    width: 50%;
    min-height: 250px;
}

.stat-name {
    width: 200px;
    font-weight: bold;
    font-size: 10pt;
}

.stat-value {
    font-family: monospace;
}

.spare-stats {
    font-size: 10pt;
}
.spare-stats.spare-stats-available {
    font-weight: bold;
    color: #4379B7;
}

#upgrade-table {
    margin-top: 25px;
}

#upgrade-table td.stat-name {
    padding-right: 20px;
}

#upgrade-table td.stat-level {
    font-size: 12pt;
    font-family: monospace;
}

#upgrade-table input[type=button] {
    width: 16px;
    height: 16px;
    margin: 0 5px;
    line-height: 16px;
    padding: 0;
}