#inventory {
    width: 600px;
    float: left;
}

#equipment {
    float: right;
}

#equipment table {
    float: left;
    margin-left: 10px;
}

#equipment table td {
    padding-right: 15px;
    vertical-align: bottom;
    font-weight: bold;
}

.inventory-item {
    position: relative;
    float: left;
    height: 40px;
    width: 40px;
    margin: 1px 2px 1px 2px;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 4px solid #33373D;
    box-shadow: 1px 1px 3px #33373D;
}

.inventory-item .equipped {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .75);
    color: #fff;
    font-size: 6pt;
}

.inventory-item.empty {
    cursor: default;
    background-color: #000000;
}

.item-stats {
    display: none;
    z-index: 5;
    position: fixed;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(51, 55, 61, .85);
    color: #fff;
}

.item-stats.visible {
    display: block;
}

.item-stats .name {
    font-size: 16pt;
    font-weight: bold;
}

.item-stats .description {
    font-size: 10pt;
    color: #FFBFEF;
}

.item-stats .quality-box {
    background: #33373D;
    border: 2px solid #33373D;
    text-shadow: 1px 1px 2px #000;
}

.item-stats ul {
    font-size: 10pt;
    list-style-type: none;
    border: 1px solid #fff;
}

.item-stats ul li {
    padding: 2px 5px;
}