* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background: #F5F5F5;
}

a:link, a:visited {
    color: #5E4700;
    text-decoration: none;
}

a:active, a:hover {
    color: #FFBF00;
}

.clear {
    clear: both;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(/static/arcrpg/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

.main {
    background: #F5F5F5;
    font-family: "Roboto";
}

.h1-wrap, .content {
    margin: 10px;
    padding: 10px 25px;
    box-shadow: 1px 1px 2px #C0C0C0;
}

h1 {
    display: inline;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.content {
    background-color: #ffffff;
}

.h1-wrap {
    background: #FFBF00;
}

.nav-item {
    float: right;
    display: inline-block;
    height: 100%;
}

.flex-container {
    display: flex;
}

input[type=button] {
    cursor: pointer;
    padding: 2px 5px;
    background-image: linear-gradient(to bottom, #FFBF00, #A67D00);
    border: 1px solid #000000;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000;
}

input[type=button]:hover {
    background-image: linear-gradient(to bottom, #D9A300, #7F5F00);
}
