{% extends "arcrpg/main.html" %}

{% block main %}
    <div class="h1-wrap">
        <h1>CHARACTER SELECTION</h1>
    </div>
    <div class="content">
        ArcRPG allows you to keep multiple characters. Select one of your characters or create a new one below.
    </div>
    <div>

    </div>
{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        var motdPlayer = new MOTDPlayer("{{ server_id }}", "arcrpg", "charselect", STEAMID, AUTH_TOKEN, SESSION_ID);
        var charSelect = new APP['charSelect'].CharSelect(motdPlayer);
    </script>
{% endblock %}
