{% extends "arcrpg/main.html" %}

{% block main %}
    <div class="h1-wrap">
        <h1>YOUR CHARACTER (LEVEL <span id="title-level">...</span>)</h1>
        <a class="nav-item" data-motdplayer-goto="inventory">INVENTORY</a>
        <div class="clear"></div>
    </div>
    <div class="content">
        Earn EXP and Spirit for killing enemies and exploding bombs. Level up and upgrade your stats. Exchange Spirit for new skills. Trade with other players to build up a character of your choice.
    </div>
    <div class="flex-container">
        <div class="content stats-left">
            <h2>Current class</h2>
            <table id="class-table">
            </table>
        </div>
        <div class="content stats-right">
            <h2>Upgrade your stats</h2>
            <h3 class="spare-stats">spare stats available: <span id="spare-stats-counter">...</span></h3>
            <table id="upgrade-table">
            </table>
            <input type="button" value="Save changes" id="button-save-changes" />
        </div>
    </div>
{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        var motdPlayer = new MOTDPlayer("{{ server_id }}", "arcrpg", "index", STEAMID, AUTH_TOKEN, SESSION_ID);
        var index = new APP['index'].Index(motdPlayer);
    </script>
{% endblock %}
