{% extends "arcrpg/main.html" %}

{% block main %}
    <div class="h1-wrap">
        <h1>INVENTORY</h1>
        <a class="nav-item" data-motdplayer-goto="index">INDEX</a>
        <div class="clear"></div>
    </div>
    <div class="content">
        <div id="item-stats" class="item-stats"></div>
        <div id="inventory">

        </div>
        <div id="equipment">
            <table>
                <tr>
                    <td>Primary: </td>
                    <td id="equipment-primary"></td>
                </tr>
                <tr>
                    <td>Secondary: </td>
                    <td id="equipment-secondary"></td>
                </tr>
                <tr>
                    <td>Knife: </td>
                    <td id="equipment-knife"></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>HE-Grenade: </td>
                    <td id="equipment-hegrenade"></td>
                </tr>
                <tr>
                    <td>Flashbang: </td>
                    <td id="equipment-flashbang"></td>
                </tr>
                <tr>
                    <td>Smokegrenade: </td>
                    <td id="equipment-smokegrenade"></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        var motdPlayer = new MOTDPlayer("{{ server_id }}", "arcrpg", "inventory", STEAMID, AUTH_TOKEN, SESSION_ID);
        var inventory = new APP['inventory'].Inventory(motdPlayer);
    </script>
{% endblock %}
